version: 2.1

orbs:
  go: circleci/go@1.8.0

jobs:
  build:
    docker:
      - image: cimg/go:1.25
    resource_class: large
    steps:
      - checkout
      - go/mod-download-cached
      - run:
         command: go install ./...
      - run:
         command: go test ./...
